@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900");
* {
    box-sizing: border-box;
}

.main_page {
    display: grid;
    grid-template-rows: 100px auto 100px;
    position: relative;
    line-height: 1.5;
    min-height: calc(100vh - 4rem);
    overflow: hidden;
}

.App {
    min-height: 100vh;
    text-align: center;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 50%;
    border: none;
    padding: 10px;
}

.search-button {
    background: lightcoral;
    border: none;
    padding: 10px 20px;
    color: white;
}

.recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navbar-brand {
    font-size:xx-large;
    font-weight: bold;
    font-family: Muli;

}

.navbar-nav {
    font-size: xx-large;
    padding: 0rem 3rem;
}

.nav-item {
    margin: 0 1rem;
    background: #ad47aa;
    border-radius: 10%;
}

table .col-name {
    font-size: large;
    font-family: monospace;
    color: slategrey;
}

table .col {
    font-size: x-large;
    font-family: cursive;
}

.note {
    font-size: x-large;
    text-align: left;
    padding-left: 7rem;
}

.alarm-info {
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}

.alarm-icon {
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    color: aliceblue;
    font-size: 50px !important;
}

.navbar-nav {
    text-shadow: darkgray;
}

body {
    margin: 0;
    padding: 0 0 0 0;
}

#right-corner {
    float: right;
}

.logout-button {
    background: #ad47aa;
    font: inherit;
    border: 1px solid #010101;
    border-radius: 15%;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
