#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #7386D5;
    color: white;
    transition: all 0.3s;
}

#sidebar.sidebarActive {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: white;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: white;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em;
    padding-left: 30px;
    background: #6d7fcc;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.sidebarActive {
        margin-left: 0;
    }
}
